@tailwind base;
@tailwind components;
@tailwind utilities;


.sombra4{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.merienda {
  font-family: "Merienda", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.bitter {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.sombra3 {
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.sombra1{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .fondo {
    background-image: url("/images/fondo4.webp");
    background-repeat: no-repeat;
    background-size: auto;
  }
  
    
    
    
    
    

